.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        object-fit: contain;
    }

    :global(.ytp-title-enable-channel-logo .ytp-title) {
        display: none !important;
    }
}

/* ================= IFRAME ================= */