.mainscreen_Section {
    // width: 468px;
    // height: 625px;
    width: 972;
    height: 1248px;
    margin: auto;
    overflow: hidden;
    position: relative;
    padding: clamp(1rem, 1.5vw, 1.5rem);
}

.video_sec {
    position: absolute;
    top: 0;

    left: 0;
    z-index: 0;
    height: 100%;
    width: 100%;

    video {
        object-fit: cover;
        height: inherit;
    }
}

.mainscreen_body {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: clamp(0.5rem, 0.8vw, 1rem);
    height: 100%;
}

.logo {
    height: fit-content;
    width: 30%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: clamp(1rem, 2vw, 1.75rem);

    img {
        object-fit: contain;
        width: clamp(3rem, 8vw, 6.25rem);
        height: auto;
    }
}

.table_sec {
    width: calc(100% - 30% - clamp(0.5rem, 0.8vw, 1rem));
    height: fit-content;
}

.commodity_sec {
    width: auto;
    min-width: 80%;
    height: fit-content;
}

.footer_body {
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.youtube_sec {
    height: clamp(8rem, 18vw, 250px);
    width: 50%;
}

.sponsor_logo {
    width: 35%;

    img {
        width: 100%;
        height: auto;
    }
}