.wrapper {
    background: #000;
    border-radius: clamp(0.9rem, 1.3vw, 1.25rem);
    padding: clamp(0.5rem, 0.8vw, 1rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 0.8vw, 1rem);
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.8vw, 1rem);
    padding: clamp(0.5rem, 0.8vw, 1rem);
    border-radius: clamp(0.5rem, 0.8vw, 1rem);
    border: 1px solid rgba(255, 215, 0, 0.25);


}

.metalName {
    color: #f5c84c;
    font-weight: 700;
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    text-transform: uppercase;
}

.prices {
    display: flex;
    gap: clamp(1.5rem, 2.5vw, 2rem);
}

.priceBlock {
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: clamp(8rem, 12vw, 12rem);
}

.label {
    font-size: clamp(1rem, 1.8vw, 1.2rem);
    color: #ffffff;
    opacity: 0.8;
    margin-bottom: clamp(0.25rem, 0.4vw, 0.5rem);
}

.value {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    font-weight: 700;
    color: #f5c84c;
}