// CommodityPriceCard.module.scss

.container {
    background-color: #1a1a1a;
    border-radius: 16px;
    padding: 10px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.priceContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.priceSection {
    flex: 1;
    text-align: center;
}

.label {
    font-size: 11px;
    color: #888;
    font-weight: 600;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.priceBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bidBox {
    &.gold {
        .price {

            border-color: #397128;
            background-color: #397128;
        }
    }

    &.silver {
        .price {
            border-color: #B44644;
            background-color: #B44644;
        }
    }
}

.askBox {
    .price {
        border-color: #A17D42;


    }

}

.price {
    font-size: 18px;
    font-weight: 700;
    color: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;

    &.priceUp {
        background-color: #397128;
        border-color: #397128;
    }

    &.priceDown {
        background-color: #B44644;
        border-color: #B44644;
    }
}

.subPrice {
    font-size: 11px;
    color: #888;
    font-weight: 500;
}

.metalIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35px;
    flex-shrink: 0;
    margin-top: 20px;

    img {
        height: auto;
        width: 100%;
        object-fit: contain;
    }
}

.iconBar {
    width: 50px;
    height: 70px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.2);

}

.iconInner {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purity {
    font-size: 9px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.4);
}